<div class="container p-5 mt-5 bg-success">

<h1> <%= @cocktail.name %> </h1>
<%= cl_image_tag @cocktail.photo.key, height: 150, width: 150, crop: :fill, class: "card-image" %>

<% @doses.each do |dose| %>
<p>Ingredient: <%= dose.ingredient.name %> (<%= dose.description %>)</p>
<%= link_to 'delete', dose_path(dose), method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-info" %>
<% end %>
<div>
<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail), class: "btn btn-info p-2 mt-4 rounded" %>
</div>
<div>
<%= link_to 'Back', cocktails_path, class: "btn btn-info p-2 mt-4 rounded" %>
</div>
</div>
